.gradientColor {
  background-image: linear-gradient(#3d142c, #181621, #161d28);
}

@media screen and (max-width: 1058px) {
  .media {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
}
@media screen and (max-width: 943px) {
  .media {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
}
@media screen and (max-width: 1101px) {
    .mediaGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}
@media screen and (max-width: 550px) {
    .mediaGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}
@media screen and (max-width: 471px) {
    .mediaGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

