@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-image: url("../../public/ellipse.png");

}

@layer components {
  .aquire {
    font-family: "Aquire", sans-serif;
  }
}


.bg-collection-custom {
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,20,44,1) 0%, rgba(14,78,85,1) 55%, rgba(60,19,44,1) 100%, rgba(0,212,255,1) 100%);
}

.bg-features-custom {
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,20,33,1) 0%, rgba(69,19,50,1) 49%, rgba(20,20,37,1) 100%, rgba(0,212,255,1) 100%);
}

.bg-viewed-custom {
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,89,87,1) 0%, rgba(21,23,36,1) 49%, rgba(18,55,61,1) 100%, rgba(0,212,255,1) 100%);
}